@import "tailwindcss";

@theme {
  --color-background: #F8F9FA;
  --color-surface: #FFFFFF;
  --color-primary: #10b981;
  --color-text-primary: #111827;
  --color-text-secondary: #6B7280;
  --color-border: #E5E7EB;

  --font-sans: "Inter", "Outfit", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
  }
}
